$main-blue: #9DBBC1;
$main-green: #A6BFB7;
$main-white: #FEFEFE;
$main-black: #252527;
$main-font: 'didot', sans-serif;

$tablet: 710px;

@mixin tablet {
   @media (max-width: #{$tablet}) {
       @content;
   }
}

@keyframes rotate-360 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);;}
}

@keyframes underline{
  from{
    border-bottom: 1px solid black;
    width: 0%;
    opacity: 0.4;
  }
  to{
    border-bottom: 1px solid black;
    width: 25%;
    opacity: 1;
  }
}

@import  'partials/welcome';
@import  'partials/about';
@import  'partials/main';
@import  'partials/projects';
@import  'partials/contact';
@import  'partials/skills';

html {
  scroll-behavior: smooth;
}
