$main-blue: #9DBBC1;
$main-white: #FEFEFE;
$main-font: 'didot', sans-serif;

$tablet: 710px;

@mixin tablet {
   @media (max-width: #{$tablet}) {
       @content;
   }
}

@import  'partials/welcome';
@import  'partials/about';
@import  'partials/main';
@import  'partials/projects';
