.about-section{
  .about-para{
    margin: 5% 15% 0 16%;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    ul{
      text-align: center;
      margin-top: 50px;
      @include tablet {
        text-align: left;
      }
    }
  }
}
