.about-section{
  .about-para{
    margin: 80px 180px 0 180px;
    line-height: 35px;
    span {
      color: darken($main-blue, 18%);
      font-size: 22px;
      // background-color: lighten($main-blue, 20%);
      // padding: 1px;
    }
  }
}
