.contact-section{
  margin-bottom: 50px;
  text-align: center;
  .contact-title{
    margin-left: 35%;
    @include tablet {
      margin-left: 0;
    }
  }
  .contact-detail{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 1px solid darken($main-green, 20%);
    border-radius: 5%;
    @include mobile{
      background-color: lighten($main-green, 2%);
    }
  }
  .contact-detail:hover{
    background-color: lighten($main-green, 2%);
  }
  a{
    text-decoration: none;
    color: $main-black;
  }
}
