body{
  background-color: $main-white;
  color: $main-black;
  font-weight: 100;
  font-family: $main-font !important;
  margin-top: 0;
  margin: 0;
  main{
    width: 100%;
  }
  .titles-animate {
    animation-name: underline;
    animation-duration: 3s;
    animation-fill-mode:forwards;
  }
  li{
    list-style: none;
  }
  .burger, .nav-about{
    right: 60px;
    z-index: 1;
    top: 30px;
    position: fixed;
    display: none;
  }
  .burger:hover{
    animation-name: rotate-360;
    animation-duration: 1s;
  }
  .burger-show{
    display: inline;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .titles {
    font-size: 70px;
    padding-left: 150px;
    @include tablet{
      animation-name: none;
    }
    @include mobile {
      padding-left: 0;
    }
  }
}
