.projects-section{
  // background-color: lighten($main-blue, 24%);
  .project-container{
    p{
      width: 50vw;
      margin-left: 25%;
    }
  }
  .title{
    text-shadow: 5px 2px $main-white;
    padding-top: 40px;
  }
  .project1{
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    // .number{
    //   font-size: 80px;
    //   margin: 0;
    //   margin-left: 300px;
    //   text-shadow: 5px 2px $main-white;
    // }
  }
}
