.projects-section{
  // background-color: lighten($main-green, 8%);
  // -webkit-clip-path: polygon(0 3%, 100% 1%, 100% 100%, 0 98%);
  // clip-path: polygon(0 3%, 100% 1%, 100% 100%, 0 98%);
  padding-bottom: 120px;
  .note{
    font-size: 16px;
    line-height: 30px;
    max-width: 75vw;
    margin-left: 12vw;
    @include mobile{
      text-align: center;
    }
  }
  .computer{
    margin-bottom: -68px;
    max-width: 35vw;
    @include tablet{
      max-width: 42vw;
    }
    @include mobile {
      display: inline-block;
      max-width: 80vw;
      margin-bottom: 30px;
    }
  }
  .titles{
    padding-top: 50px;
    @include mobile{
      text-align: center;
    }
  }
  .project-container{
    margin-left: 10vw;
    margin-top: 90px;

    fieldset{
      text-align: center;
      display: inline-block;
      width: 40vw;
      border: 2px solid white;
      padding-bottom: 0px;
      .info{
        display: inline-block;
      }
      legend{
        // color: darken(#A6BFB7, 15%);
        color: $main-black;
        font-size: 60px;
        margin: 0;
      }
      .toggleBox{
        background-color: $main-green;
        display: inline-block;
        padding-top: 5px;
        height: 25px;
        width: 30%;
        @include tablet {
          width: 40%;
        }
        p{
          margin: 0;
        }
        p:hover{
          color: $main-white;
        }
      }
      .links{
        // display: inline;
        .fa-link, .gitHubLogo{
          font-size: 28px;
          padding-left: 10px;
        }
        .fa-link:hover, .gitHubLogo:hover{
          opacity: 0.6;
        }
      }
      .technologies-text, .hide-description{
        display: none;
      }
      .white{
        color: $main-white;
      }
      .description-text, .technologies-text{
        min-height: 220px;
        line-height: 26px;
        font-size: 14px;
        .jumee{
          text-decoration: underline;
        }
      }
      .show-technologies{
        display: block;
        min-height: 220px;
      }
      @include tablet {
        width: 35vw;
      }
      @include mobile {
        width: 75vw;
      }
    }
    @include tablet {
      margin-top: 80px;
    }
  }
  .description-button, .technologies-button{
    @include tablet {
      font-size: 12px;
    }
  }
  .lenzation-fieldset{
    @include tablet {
      margin-top: 80px;
    }
  }
  a{
    text-decoration: none;
    color: black;
  }
}
.shape{
  height: 15vh;
  background-color: $main-green;
}
