.skills{
  width: 100vw;
  text-align: center;
  line-height: 120px;
  .methodology{
    line-height: 60px;
  }
  .icon {
    padding: 3% 1.5% 3% 1.5%;
    font-size: 1rem;
    border-radius: 5%;
    margin: 10px;
    width: 200px;
    background-color: #f8f9fa;
    border: 1px solid silver;
    @include mobile{
    padding: 5% 1.5% 5% 1.5%;
    }
  }
}
#skills-title{
  @include tablet {
    padding-left: 224px;
  }
  @include mobile {
    text-align: center;
    padding-left: 0px;
    animation-name: none;
  }
}
