body{
  background-color: $main-white;
  font-family: $main-font;
  margin-top: 0;
  height: 1500px;
}
.main-page-container {
  display: flex;
  min-height: 700px;
  .projects{
    font-size: 30px;
    position: absolute;
    top: 590px;
    margin-left: 250px;
  }
  .contact-me{
    width: 120px;
    padding-top: 340px;
    p {
      transform: rotate(-90deg);
      font-size: 17px;
      }
      @include tablet {
        p {
          display: none} }
  }
  .scroll-icon{
    height: 100px;
    width: 80px;
    position: absolute;
    margin-left: 80px;
    top: 560px;
    background-color: lighten($main-blue, 9%);
    padding-top: 45px;
    p {
      transform: rotate(-90deg);
      @include tablet {
        display: none;
      }
    }
  }
  .headshot-img{
    height: 400px;
    float: right;
    margin-top: 50px;
  }
  .welcome-page-square {
    background-color: lighten($main-blue, 9%);
    height: 600px;
    width: 50%;
    z-index: -1;
    p {
      padding-top: 20px;
      padding-left: 140px;
      font-size: 20px;
      @include tablet {
        display: none;
      }
    }
  }
  .name-and-title{
    .name{
      margin-left: -40px;
      margin-top: 140px;
      font-size: 40px;

    }
    .title{
      margin-left: 65px;
      font-size: 30px;
      letter-spacing: 6px;
      span {
        letter-spacing: 0;
      }
      @include tablet {
        display: none;
      }
    }
  }
}

.about-section{
  .about-title {
    font-size: 60px;
    margin-left: 150px;
  }
  .about-para{
    margin: 80px 180px 0 180px;
    line-height: 35px;
  }
}
