.welcome-page-container {
  display: flex;
  min-height: 700px;
  .git-hub{
    font-size: 20px;
    position: absolute;
    margin-left: 400px;
    transform: rotate(-90deg);
    top: 490px;
  }
  .projects{
    font-size: 30px;
    position: absolute;
    top: 590px;
    margin-left: 250px;
    @include tablet {
      display: none;
    }
  }
  .contact-me{
    width: 120px;
    padding-top: 320px;
    p {
      transform: rotate(-90deg);
      font-size: 20px;
      width: 200px;
      margin-left: -60px;
      }
      @include tablet {
        p {
          display: none} }
  }
  .scroll-icon{
    height: 200px;
    width: 80px;
    position: absolute;
    margin-left: 80px;
    top: 560px;
    background-color: lighten($main-blue, 9%);
    padding-top: 45px;
    p {
      transform: rotate(-90deg);
    }
  }
  .headshot-img{
    height: 400px;
    float: right;
    margin-top: 50px;
  }
  .welcome-page-square {
    background-color: lighten($main-blue, 9%);
    height: 600px;
    width: 50%;
    @include tablet {
      width: 120%;
    }
    p {
      padding-top: 20px;
      padding-left: 140px;
      font-size: 20px;
      a{
        text-decoration: none;
        color: black;
      }
      @include tablet {
        display: none;
      }
    }
  }
  .name-and-title{
    .name{
      margin-left: -40px;
      margin-top: 140px;
      font-size: 40px;
    }
    .title{
      margin-left: 65px;
      font-size: 30px;
      letter-spacing: 8px;
      span {
        letter-spacing: 0;
      }
    }
  }
}
