.welcome-page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  .git-hub{
    font-size: 20px;
    position: absolute;
    margin-left: 400px;
    transform: rotate(-90deg);
    top: 490px;
    @include tablet {
      display: none;
    }
  }
  .projects{
    font-size: 30px;
    position: absolute;
    z-index: 3;
    top: 590px;
    margin-left: 250px;
    @include tablet {
      display: none;
    }
  }
  .contact-me{
    width: 120px;
    padding-top: 320px;
    p {
      transform: rotate(-90deg);
      font-size: 20px;
      width: 200px;
      margin-left: -60px;
      }
      @include tablet {
        p {
          display: none} }
  }
  .scroll-icon{
    height: 180px;
    width: 80px;
    position: absolute;
    margin-left: 80px;
    top: 80vh;
    // background-color: lighten($main-blue, 9%);
    background-color: #A6BFB7;
    padding-top: 45px;
    p {
      transform: rotate(-90deg);
    }
  }
  .headshot-img{
    height: 60vh;
    float: right;
    margin-top: 50px;
    @include tablet {
      margin-top: 199px;
    }
  }
  .welcome-page-square {
    // background-color: lighten($main-blue, 9%);
    background-color: #A6BFB7;
    height: 87vh;
    width: 50%;
    @include tablet {
      width: 120%;
    }
    p {
      padding-top: 20px;
      padding-left: 140px;
      font-size: 20px;
      @include tablet {
        display: none;
      }
    }
  }
  .name-and-title{
    .name{
      margin-left: -40px;
      margin-top: 140px;
      font-size: 40px;
      @include tablet {
        margin-top: 197px;
      }
    }
    .title{
      margin-left: -50px;
      font-size: 30px;
      letter-spacing: 8px;
      span {
        letter-spacing: 0;
      }
    }
  }
}
